<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/es1" method="get">
        <input type = "text" name="farmacia"> inserire parte del nome di una farmacia<br><br>
        <input type = "submit" value="es1">
    </form><br><br>
    <form action="/es2">
        <input type = "submit" value="es2">
    </form><br><br>
    <form action="/es3">
        <input type = "submit" value="es3">
    </form><br><br>
    <form action="/es4">
        <input type = "submit" value="es4">
    </form><br><br>
    <form action="/es5">
        <input type = "submit" value="es5">
    </form>
</body>
</html>